 *{ 
    margin:0;
    font-family: Arial, sans-serif;
}

/* seção com imagem */
.Artist{
    height:100vh;

    background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)),
    url("../img/yoow_artist.png");

    width: 1200px;
    height: 1200px;

    background-size:cover;

    display:flex;
    align-items:center;
    justify-content:center;

    color:white;
    text-align:center;

    background-attachment: fixed;
}